<?xml version="1.0" encoding="utf-8" ?>
<!--
This project is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/
Any copyright is dedicated to the NominalNimbus.
https://github.com/NominalNimbus
-->

<configuration>
    <appSettings >
      <add key="IP" value="localhost"/>
      <add key="Port" value="4504"/>
      <add key="DTPort" value="8732"/>
    </appSettings>
</configuration>