<?xml version="1.0" encoding="utf-8" ?>
<!--
This project is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/
Any copyright is dedicated to the NominalNimbus.
https://github.com/NominalNimbus
-->

<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="true">
  <variable name="logDirectory" value="${basedir}/Logs"/>
  <variable name="namePrefix" value="${date:format=yyyyMMdd}-"/>
  <variable name="exceptionoutput" value="${exception:innerFormat=ToString:maxInnerExceptionLevel=10:format=ToString}"/>
  <targets>
    <target xsi:type="AutoFlushWrapper" name="TradingServer">
      <target
        name="_TradingServer"
        xsi:type="File"
        fileName="${logDirectory}/${namePrefix}TraddingServer.log"
        header="time|message|exception"
        layout="${time}|${message}|${exceptionoutput}"
        concurrentWrites="false"
        keepFileOpen="true" />
    </target>
    <target xsi:type="AutoFlushWrapper" name="General">
      <target
        name="_general"
        xsi:type="File"
        fileName="${logDirectory}/${namePrefix}General.log"
        header="time|logger|message|exception"
        layout="${time}|${logger}|${message}|${exceptionoutput}"
        concurrentWrites="false"
        keepFileOpen="true" />
    </target>
    <target 
        name="Console" 
        xsi:type="Console" 
        layout="${date:format=HH\:mm\:ss.fff} [${level:uppercase=true}] ${message} ${exception:format=message}">
    </target>
  </targets>
  <rules>
    <logger name="WampSharp.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Debug" writeTo="General" />
    <logger name="*" minlevel="Debug" writeTo="Console" />
  </rules>
</nlog>