<?xml version="1.0" encoding="utf-8"?>
<!--
This project is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/
Any copyright is dedicated to the NominalNimbus.
https://github.com/NominalNimbus
-->

<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="NLog" version="4.3.10" targetFramework="net45" />
  <package id="NLog.Config" version="4.3.10" targetFramework="net45" />
  <package id="NLog.Schema" version="4.3.10" targetFramework="net45" />
</packages>