<?xml version="1.0" encoding="utf-8" ?>
<!--
This project is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/
Any copyright is dedicated to the NominalNimbus.
https://github.com/NominalNimbus
-->

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWCFConnection" maxBufferPoolSize="1073741823"
                    maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IServerServiceHost">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:4504/TradingService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWCFConnection" contract="TradingService.IWCFConnection"
                name="NetTcpBinding_IWCFConnection" />
            <endpoint address="net.tcp://127.0.0.1:4504/TradingService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServerServiceHost"
                contract="TradingService.IWCFService" name="NetTcpBinding_IServerServiceHost" />
        </client>
    </system.serviceModel>
    <appSettings>
      <add key="Username" value="guest"/>
      <add key="Password" value="guest"/>
      <add key="VirtualHost" value="/"/>
      <add key="HostName" value="localhost"/>
      <add key="WCFServerIP" value="localhost"/>
      <add key="WCFServerPort" value="4504"/>
    </appSettings>
</configuration>